body {
    font-family: sans-serif;
}
header {

}
 h1 img {
height:60px;
width: 60px;
}
h2 {
font-size: 29px;
}
h2 img {
height: 70px;
width: 70px;
}
.hi {
height: 310px;
width: 320px;
}
.no {
height: 290px;
width: 290px;
}
h3 {
    font-size: 29px;
}
.lala {
height: 60px;
width: 70px;
}
.hehe {
height: 300px;
width: 300px;
}
.io {
height: 300px;
width: 290px;
}
h4 {
font-size: 29px;
}
h4 img {
height: 60px;
width: 60px;
}
h5 {
font-size: 29px;
}
h5 img {
    height: 60px;
    width: 70px;
}
h6 {
font-size: 29px;
}
h6 img {
height: 60px;
width: 60px;
}
.sisi {
font-size: 20px;
text-align: center;
background-color: rgba(215, 179, 112, 0.765);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.kvati {
text-decoration: none;
font-size: 30px;
color: black;
border: 5px solid black;
padding: 6px;
margin: auto;
border-radius: 10px;
background-color: coral;
}

.lili {
font-size: 30px;
font-family: monospace;
border: 0px solid white;
color: black;
}
